{
  "DOCKER_API": {
    "IP": "localhost",
    "PORT": "5555"
  },
  "ARTIFACTS": {
    "BASE_PATH": "./artifacts/{}",
    "EXECUTABLE_PATH": "BASE_PATH/executables/",
    "VOLUME_DATA_PATH": "BASE_PATH/volume_data/",
    "TAR_PATH":"BASE_PATH/container_tarball",
    "LOG_JOURNALD_SERVICE": "TRUE"
  }
}
